# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=filemanager
DATABASE_URL="postgresql://postgres:postgres@db:5432/filemanager"

# JWT Authentication
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=1d

# OAuth2 Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# SMTP Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=0 # 0 or 1
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=
FRONTEND_URL=http://localhost

# Unsplash API
UNSPLASH_ACCESS_KEY=
